body,
html,
#root {
  margin: 0;
  height: 100%;
}

body {
  font-size: 15px;
  font-weight: 300;
  font-family: Arial, sans-serif;
  text-transform: none;
  background: #f0f0f0;
  color: #575757;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
}

* {
  -webkit-overflow-scrolling: touch;
}
